<% include ./partials/header %>

<nav class="navbar navbar-dark bg-primary">
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="navbar-brand text-white" href="/">Bookeeping</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/signup">Sign Up</a>
        </li>
    </ul>
</nav>
        


<h1>I bought a(n) <%= numOfItems %> item(s)</h1>
<% if(result) { %>
<% result.map(info => { %>
    <p>The product(s) is(are) <%= info.name %> </p>
    <p>The number of Items I bought : <%= info.amount %></p>
    <p>Total price : <%= info.total_price %></p>
    <% }) %>
<% } %>

<% include ./partials/footer %>
    