<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>CRUD_APP</title>
</head>
<body>

  <form class="container col m12 s12 xl12">
      <div class="container">
        <div class="row">
            <div class="input-field col m12 s12 xl12">
              <input id="username" type="text" name="username" class="validate">
              <label for="username">username</label>
            </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="input-field col m12 s12 xl12">
            <input id="password" type="password" name="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
      </div>
  </form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>