<% include ./partials/header %>



<body>
        <div>
           <p><%= result[0].name %></p>
           <p><%= result[0].created_at %></p>
        </div>
        
            
        <p></p>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>