<% include ./partials/header %>

    <div class="container mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body">
                <h1 class="text-center">Sign Up</h1>
                <% include ./partials/messages %>
                <form action="/signup" method="POST" class="container">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input id="username" 
                            type="text"
                            name="username" 
                            class="form-control" 
                            value="<%= typeof username != 'undefined' ? username : '' %>" 
                        />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input id="password" 
                            type="password" 
                            name="password" 
                            class="form-control" 
                            value="<%= typeof password != 'undefined' ? password : '' %>"
                        />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block float-right">Sign up</button>
                    <br>
                    <p class="lead mt-5">Have An Account? <a href="/login">Login</a></p>
                </form>
            </div>
        </div>
    </div>
    
<% include ./partials/footer %>