
.app__introduction {
    position: relative;
    width: 100%;
    height: 100%;
}

.app__introduction--content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: auto;
    transform: translate(-50%,-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    z-index: 2;
}

.app__introduction::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.app_slideshow{
    position: relative;
    width: 100vw;
    height: calc(100vh - 56px);
    padding:  0;
}

.app_slideshow > div {
    position: absolute; 
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 20s linear infinite;

}

.app_slideshow div:nth-child(1) { 
    background-image: url("../img/laptop.jpg") ;
}
.app_slideshow div:nth-child(2) { 
    background-image: url("../img/money.jpg");
    animation-delay: 10s; 
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    50% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }